.container {
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/38/ca/30/38ca30fd8342f6a7cfc1925b284a927c.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: black;


}

h1 {
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-top: 20px;
    padding-left: 20px;
}

li {
    margin-top: 10px;
}
